/* Base container */
.form-container {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

/* Section container */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  padding: 32px;
}
.sidebar-select{
  background-color: #1F2B53;
  border-radius: 12px;
  box-shadow: 0 5px 6px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}
.sidebar-inputs{
  background-color: #1F2B53;
  border-radius: 12px;
  box-shadow: 0 5px 6px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.inputs-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px; 
}
/* Heading */
.form-container h1 {
  font-size: 24px;
  margin-bottom: 24px;
  color: #ffffff;
}
.form-container h2 {
  font-size: 20px;
  margin-bottom: 24px;
  color: #ffffff;
}
/* Labels */
.form-container label {
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 4px;
  display: block;
}

/* Inputs e selects */
.form-container input[type="text"],
.form-container input[type="date"],
.form-container select {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  transition: all 0.2s ease-in-out;
  margin: 5px;
}

.form-container input:focus,
.form-container select:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
  outline: none;
}

/* Botões */
.div-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 16px;
}

.view-pdf-button,
.download-button,
.add-button {
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-pdf-button {
  background-color: #2563eb;
}

.download-button {
  background-color: #16a34a;
}

.add-button {
  background-color: #f59e0b;
}

/* Hover States */
.view-pdf-button:hover {
  background-color: #1d4ed8;
}
.download-button:hover {
  background-color: #15803d;
}
.add-button:hover {
  background-color: #d97706;
}

/* Repetição de campos em grid */
.form-container .list-item {
  display: grid;
  gap: 10px;
  margin-bottom: 16px;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .div-buttons {
    flex-direction: column;
  }
}
